{% extends 'base.html.twig' %}

{% block title %}{{ 'equipo.edit.title'|trans }}{% endblock %}

{% block body %}
    <div class="mb-6">
        <a href="{{ path('app_equipo_index') }}" class="link-back">
            <span>&larr;</span> {{ 'general.back_to_list'|trans }}
        </a>
    </div>

    <div class="card max-w-2xl mx-auto">
        <div class="card-header">
            <h1 class="card-title">{{ 'equipo.edit.title'|trans }}</h1>
            {{ include('equipo/_delete_form.html.twig') }}
        </div>

        <div class="mt-4">
            {{ include('equipo/_form.html.twig', {'button_label': 'Actualizar'}) }}
        </div>
    </div>
{% endblock %}
