{% extends 'base.html.twig' %}

{% block title %}Inscribir Equipo{% endblock %}

{% block body %}
    <div class="mb-6">
        <a href="{{ path('app_torneo_index') }}" class="link-back">
            <span>&larr;</span> {{ 'general.back_to_list'|trans }}
        </a>
    </div>

    <div class="card max-w-2xl mx-auto">
        <div class="card-header">
            <h1 class="card-title">
                Inscribir equipo en: <span class="text-green-500">{{ torneo.nombre }}</span>
            </h1>
        </div>

        <div class="mt-4">
            {{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}

            <div>
                {{ form_label(form.equipo, 'Seleccione un Equipo') }}
                {{ form_widget(form.equipo) }}
            </div>

            <div class="flex gap-4 mt-8 justify-end">
                <a href="{{ path('app_torneo_index') }}" class="btn-secundario">
                    Cancelar
                </a>
                <button class="btn-primario">
                    Confirmar Inscripción
                </button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
